@import url("https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-family: "Onest", sans-serif;
  background: #f7f7f7;
}

.wrapper {
  display: flex;
  height: 100%;
}
@media (max-width: 625px) {
  .wrapper {
    flex-direction: column;
  }
}

.content-box {
  padding: 25px 50px 0px 50px;
  width: 100%;
  margin: 0px 0px 0px 100px;
}
@media (max-width: 625px) {
  .content-box {
    margin: 0 auto;
    padding: 12px 25px 12px 25px;
  }
}

.hover {
  display: none;
}

.sideBar {
  width: 110px;
  background: #fff;
  height: 100%;
  position: fixed;
}
@media (max-width: 625px) {
  .sideBar {
    position: relative;
    width: 100%;
  }
}
.sideBar__content {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 625px) {
  .sideBar__content {
    height: 68px;
    flex-direction: row;
  }
}

.content__logo {
  margin-top: 40px;
  cursor: pointer;
}
@media (max-width: 625px) {
  .content__logo {
    margin: 15px 15px 15px 15px;
  }
  .content__logo img {
    height: 32px;
    width: 32px;
  }
}
.content__buttons {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
@media (max-width: 625px) {
  .content__buttons {
    flex-direction: row;
    gap: 20px;
  }
}
@media (max-width: 376px) {
  .content__buttons {
    gap: 10px;
  }
}
.content__exit {
  margin: 0px 0px 40px 0px;
  cursor: pointer;
}
@media (max-width: 625px) {
  .content__exit {
    margin: 15px 15px 15px 15px;
  }
  .content__exit img {
    height: 25px;
    width: 25px;
  }
}
.content__exit:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.07s linear 0s;
}

.buttons__section {
  height: 74px;
  width: 74px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 625px) {
  .buttons__section svg {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 321px) {
  .buttons__section svg {
    height: 15px;
    width: 15px;
  }
}
@media (max-width: 625px) {
  .buttons__section {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 321px) {
  .buttons__section {
    height: 35px;
    width: 35px;
  }
}
.buttons__section:hover {
  background: rgba(117, 223, 109, 0.22);
}
.buttons__section:active {
  background: rgb(104, 147, 0);
}
.buttons__section:active svg {
  stroke: #fff;
}

.buttons__section-active {
  background: rgb(104, 147, 0);
}
.buttons__section-active:hover {
  background: rgb(104, 147, 0);
}
.buttons__section-active svg {
  stroke: #fff;
}

.main {
  display: flex;
  gap: 25px;
  padding: 0px 0px 35px 0px;
}
@media (max-width: 1020px) {
  .main {
    flex-direction: column;
  }
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}
.header__title {
  font-weight: 500;
  font-size: 30px;
}
@media (max-width: 840px) {
  .header__title {
    font-size: calc(7px + 46 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 630px) {
  .header__title {
    font-size: 20px;
  }
}
@media (max-width: 426px) {
  .header__title {
    font-size: 20px;
  }
}
@media (max-width: 376px) {
  .header__title {
    font-size: 18px;
  }
}
.header__right {
  display: flex;
  gap: 17px;
}
.header__avatar {
  cursor: pointer;
}
.header__avatar img {
  height: 42px;
}
@media (max-width: 321px) {
  .header__avatar img {
    height: 30px;
  }
}
.header__avatar img:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.07s linear 0s;
}
.header__notifications {
  cursor: pointer;
}
@media (max-width: 321px) {
  .header__notifications img {
    height: 30px;
  }
}
.header__notifications:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.07s linear 0s;
}

.main__left-content {
  flex: 1 1 66.66%;
}

.left-content__top-ban {
  background: #b7cc8a;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
  padding: 20px 20px 20px 20px;
  border-radius: 12px;
  text-align: left;
}
@media (max-width: 486px) {
  .left-content__top-ban {
    height: 65px;
    padding: 15px;
  }
}
.left-content__middle-ban {
  width: 100%;
  height: 300px;
  background: url("/img/main-block/main-img.webp") center/cover no-repeat;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
  border-radius: 12px;
  padding: 30px 30px 30px 30px;
}
@media (max-width: 1280px) {
  .left-content__middle-ban {
    height: calc(150px + 150 * ((100vw - 320px) / 1120));
  }
}
@media (min-width: 1280px) {
  .left-content__middle-ban {
    height: calc(1px + 369 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1250px) {
  .left-content__middle-ban {
    padding: 20px 20px 20px 20px;
  }
}
.left-content__recomendation {
  margin: 0px 0px 20px 0px;
}
.left-content__tips {
  padding: 25px 25px 25px 25px;
  background: #ffffff;
  border-radius: 12px;
}

.top-ban {
  color: #ffffff;
}
.top-ban__left {
  display: flex;
}
.top-ban__right img {
  height: 40px;
}
@media (max-width: 376px) {
  .top-ban__right img {
    height: 25px;
  }
}

.left__days {
  max-width: 57px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  border-right: solid 2px #ffffff;
  padding: 0px 20px 0px 0px;
}
@media (max-width: 426px) {
  .left__days {
    font-size: 12px;
    max-width: 40px;
  }
}
.left__titles {
  margin: 0px 0px 0px 30px;
}
@media (max-width: 426px) {
  .left__titles {
    margin: 0px 0px 0px 15px;
  }
}

.titles__title {
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 170%;
}
@media (max-width: 426px) {
  .titles__title {
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .titles__title {
    font-size: 11px;
  }
}
.titles__subtitle {
  font-size: 12px;
  letter-spacing: 0.1px;
}
@media (max-width: 426px) {
  .titles__subtitle {
    font-size: 10px;
  }
}
@media (max-width: 376px) {
  .titles__subtitle {
    font-size: 9px;
  }
}

.middle-ban {
  color: #ffffff;
}
.middle-ban__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1230px) {
  .middle-ban__content {
    flex-direction: column;
  }
}
.middle-ban__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  background: #b7cc8a;
  height: 57px;
  min-width: 150px;
  border-radius: 30px;
  gap: 10px;
  cursor: pointer;
}
@media (min-width: 1450px) {
  .middle-ban__button {
    height: 60px;
    min-width: 180px;
  }
}
@media (min-width: 1800px) {
  .middle-ban__button {
    height: 65px;
    min-width: 195px;
    border-radius: 32px;
  }
}
@media (max-width: 1280px) {
  .middle-ban__button {
    height: 50px;
    min-width: 135px;
  }
}
@media (max-width: 376px) {
  .middle-ban__button {
    height: 40px;
    min-width: 110px;
  }
}
.middle-ban__button:hover {
  background: #c5dc93;
}
.middle-ban__button:active {
  background: #b7cc8a;
}
.middle-ban__title {
  font-size: 15px;
  font-weight: 400;
  max-width: 500px;
  line-height: 120%;
}
@media (min-width: 320px) {
  .middle-ban__title {
    font-size: calc(19px + 19 * ((100vw - 320px) / 1120));
  }
}
@media (min-width: 1750px) {
  .middle-ban__title {
    font-size: 44.5px;
  }
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: #4f7907;
  margin: 0px 0px 0px 5px;
  font-size: 15px;
}
@media (min-width: 1450px) {
  .button__text {
    font-size: 17px;
  }
}
@media (min-width: 1800px) {
  .button__text {
    font-size: 19px;
  }
}
@media (max-width: 1280px) {
  .button__text {
    font-size: 13px;
  }
}
@media (max-width: 376px) {
  .button__text {
    font-size: 10px;
  }
}

.recomendation__content {
  padding: 15px 20px 40px 20px;
  background: #fff;
  border-radius: 12px;
}
@media (max-width: 425px) {
  .recomendation__content {
    padding-bottom: 10px;
  }
}
@media (max-width: 321px) {
  .recomendation__content {
    padding-bottom: 0px;
  }
}
.recomendation__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.recomendation__top img {
  height: 30px;
}
.recomendation__boxes {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin: 15px 0px 0px 0px;
}
@media (max-width: 455px) {
  .recomendation__boxes {
    gap: 14px;
  }
}
@media (max-width: 445px) {
  .recomendation__boxes {
    transform: scale(0.95);
    transform-origin: top left;
  }
}
@media (max-width: 425px) {
  .recomendation__boxes {
    transform: scale(0.85);
    transform-origin: top left;
  }
}
@media (max-width: 376px) {
  .recomendation__boxes {
    transform: scale(0.8);
    transform-origin: top left;
  }
}
@media (max-width: 321px) {
  .recomendation__boxes {
    transform: scale(0.66);
    transform-origin: top left;
  }
}

.top__left {
  display: flex;
  align-items: center;
}
.top__left-fire img {
  height: 27px;
  margin: 0px 0px 10px 0px;
}
.top__left-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px 0px 15px;
}
@media (max-width: 321px) {
  .top__left-title {
    font-size: 16px;
    margin: 0px 0px 0px 5px;
  }
}
.top__right {
  color: #767676;
  cursor: pointer;
}

.box-style {
  min-width: 110px;
  max-width: 100%;
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  flex: 1 1 33.33%;
  color: #000000;
}
.box-style:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 2px 1px #a0a0a0;
}
@media (min-width: 1022px) {
  .box-style {
    height : calc(50px + 120 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1022px) {
  .box-style {
    height: 119px;
  }
}

.boxes__box-1 {
  background: url("/img/main-block/recomendation-1.webp") center/cover no-repeat;
}
.boxes__box-2 {
  background: url("/img/main-block/recomendation-2.webp") center/cover no-repeat;
}
.boxes__box-3 {
  background: url("/img/main-block/recomendation-3.webp") center/cover no-repeat;
}
.boxes__box-4 {
  background: url("/img/main-block/recomendation-4.webp") center/cover no-repeat;
}
.boxes__box-5 {
  background: url("/img/main-block/recomendation-5.webp") center/cover no-repeat;
}
.boxes__box-6 {
  background: url("/img/main-block/recomendation-6.webp") center/cover no-repeat;
}

.heading {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  font-weight: 600;
  letter-spacing: 0.3px;
}

.subheading {
  color: #767676;
  font-weight: 500;
  font-size: calc(9px + 3 * ((100vw - 320px) / 1120));
}

.tips__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 12px 0px;
}
.tips__left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tips__hummers img {
  height: 20px;
  margin: 0px 0px 10px 0px;
}
.tips__heading {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 321px) {
  .tips__heading {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }
}
.tips__right {
  color: #767676;
  cursor: pointer;
}
.tips__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.list__item {
  display: flex;
  align-items: center;
  color: #767676;
  line-height: 135%;
  font-size: 10px;
  gap: 18px;
}
@media (min-width: 768px) {
  .list__item {
    font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  }
}
.list__item img {
  height: 90px;
  width: 90px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 321px) {
  .item__text {
    font-size: 9px;
    line-height: 9px;
  }
}

.main__right-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 33.33%;
  padding: 30px 20px 40px 20px;
  background: #fff;
  border-radius: 12px;
  gap: 25px;
  height: 100%;
}
@media (max-width: 376px) {
  .main__right-content {
    padding-bottom: 0px;
    gap: 15px;
  }
}

.summary__title {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
  gap: 12px;
}
.summary__active-img {
  height: 100%;
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  height: 200px;
  color: #000000;
  background: url("/img/main-block/recomendation-4.webp") center/cover no-repeat;
}

.active-img__titles-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.active-img__titles-subtitle {
  color: #767676;
  font-weight: 500;
  font-size: 14px;
}
.active-img__button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  background: rgba(255, 255, 255, 0.8862745098);
  height: 45px;
  min-width: 130px;
  border-radius: 30px;
  gap: 6px;
  cursor: pointer;
}
@media (max-width: 321px) {
  .active-img__button-2 {
    height: 40px;
    min-width: 110px;
  }
}
.active-img__button-2:hover {
  background: rgba(204, 232, 145, 0.7725490196);
}
.active-img__button-2:active {
  background: rgba(255, 255, 255, 0.8862745098);
}

.button-2__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: #6aa800;
  margin: 0px 0px 0px 5px;
  font-size: 15px;
}
@media (max-width: 321px) {
  .button-2__text {
    font-size: 12px;
  }
}

.schedule__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 376px) {
  .schedule__top {
    margin: 0px 0px 15px 0px;
  }
}
.schedule__watering {
  margin: 0px 0px 20px 0px;
  padding: 15px 15px 15px 15px;
}

.top__left {
  font-size: 15px;
  font-weight: 500;
}
.top__right {
  font-size: 13px;
}

.watering__top-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 35px 0px;
}
.watering__line {
  padding: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 20px 18px 0px #f8f8f8;
}
@media (max-width: 321px) {
  .watering__line {
    transform: scale(0.85);
    transform-origin: top left;
  }
}

.top-2__left {
  font-size: 14px;
  font-weight: 500;
}
.top-2__right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right__week {
  font-size: 13px;
  color: #767676;
}
.right__arrow {
  cursor: pointer;
}

.line__day {
  width: 40px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.line__day:hover {
  background: #e9f4cf;
}
.line__day:active {
  background: #e1ecc8;
}

.day-active {
  background: #e1ecc8;
}

.day__dayofweek {
  color: #8c8c8c;
}
.day__event img {
  max-width: 20px;
}
.day__daynumber {
  color: #8c8c8c;
}

.maintenance__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
}
.maintenance__temperature {
  padding: 20px 20px 20px 20px;
  width: 390px;
  margin: 0 auto;
  height: 280px;
}
.maintenance__temperature img {
  width: 12px;
}
@media (max-width: 460px) {
  .maintenance__temperature {
    transform: scale(0.88);
    transform-origin: top left;
  }
}
@media (max-width: 424px) {
  .maintenance__temperature {
    transform: scale(0.75);
    transform-origin: top left;
  }
}
@media (max-width: 380px) {
  .maintenance__temperature {
    transform: scale(0.72);
    transform-origin: top left;
  }
}
@media (max-width: 350px) {
  .maintenance__temperature {
    transform: scale(0.6);
    transform-origin: top left;
  }
}

.temperature__title {
  font-weight: 500;
  margin: 0px 0px 18px 0px;
}
.temperature__chart img {
  width: 350px;
  overflow: hidden;
}
.temperature__daytime {
  display: flex;
  align-items: center;
  position: relative;
  color: #8c8c8c;
  top: -180px;
  left: 0px;
}
.temperature__night {
  display: flex;
  align-items: center;
  position: relative;
  color: #8c8c8c;
  top: -120px;
  left: 100px;
}
.temperature__nutrients {
  display: flex;
  align-items: center;
  position: relative;
  color: #8c8c8c;
  top: -165px;
  left: 200px;
}

.chart__subtitles {
  color: #8c8c8c;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 20px;
  font-size: 12px;
}

.daytime__orange {
  position: absolute;
  height: 10px;
  width: 80px;
  border-radius: 12px;
  background: rgb(226, 124, 0);
  transform: rotate(90deg);
}
.daytime__temper {
  display: flex;
  align-items: center;
  transform: translate(50px);
}

.temper__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(190, 190, 190, 0.369);
}
.temper__numbers {
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 0px 5px;
}

.night__blue {
  position: absolute;
  height: 10px;
  width: 70px;
  border-radius: 12px;
  background: rgb(30, 0, 162);
  transform: rotate(90deg);
}
.night__temper {
  display: flex;
  align-items: center;
  transform: translate(50px);
}

.nutrients__yellow {
  position: absolute;
  height: 10px;
  width: 80px;
  border-radius: 12px;
  background: rgb(221, 188, 0);
  transform: rotate(90deg);
}
.nutrients__temper {
  display: flex;
  align-items: center;
  transform: translate(50px);
}