@import url("https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-family: "Onest", sans-serif;
  background: #f7f7f7;
  position: relative;
}

.wrapper {
  display: flex;
  height: 100%;
}

.content-box {
  padding: 25px 50px 25px 50px;
  width: 100%;
  margin: 0px 0px 0px 100px;
}

.hover {
  display: none;
}

.sideBar {
  width: 110px;
  background: #fff;
  height: 100%;
  position: fixed;
}
.sideBar__content {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content__logo {
  margin-top: 40px;
  cursor: pointer;
}
.content__buttons {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.content__exit {
  margin: 0px 0px 40px 0px;
  cursor: pointer;
}
.content__exit:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.07s linear 0s;
}

.buttons__section {
  height: 74px;
  width: 74px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons__section:hover {
  background: rgba(117, 223, 109, 0.22);
}
.buttons__section:active {
  background: rgb(104, 147, 0);
}
.buttons__section:active svg {
  stroke: #fff;
}

.buttons__section-active {
  background: rgb(104, 147, 0);
}
.buttons__section-active:hover {
  background: rgb(104, 147, 0);
}
.buttons__section-active svg {
  stroke: #fff;
}

.main {
  display: flex;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}
.header__title {
  font-weight: 500;
  font-size: 30px;
}
.header__right {
  display: flex;
  gap: 17px;
}
.header__avatar {
  cursor: pointer;
}
.header__avatar img {
  height: 42px;
}
.header__avatar img:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.07s linear 0s;
}
.header__notifications {
  cursor: pointer;
}
.header__notifications:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.07s linear 0s;
}

.main__left-content {
  flex: 1 1 66.66%;
}

.left-content__top-ban {
  background: #b7cc8a;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
  padding: 20px 20px 20px 20px;
  border-radius: 12px;
  text-align: left;
}
.left-content__middle-ban {
  width: 100%;
  height: 300px;
  background: url("/img/main-block/main-img.jpg") center/cover no-repeat;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
  border-radius: 12px;
  padding: 30px 30px 30px 30px;
}
.left-content__recomendation {
  margin: 0px 0px 20px 0px;
}
.left-content__tips {
  padding: 25px 25px 25px 25px;
  background: #ffffff;
  border-radius: 12px;
}

.top-ban {
  color: #ffffff;
}
.top-ban__left {
  display: flex;
}
.top-ban__right img {
  height: 40px;
}

.left__days {
  max-width: 57px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  border-right: solid 2px #ffffff;
  padding: 0px 20px 0px 0px;
}
.left__titles {
  margin: 0px 0px 0px 30px;
}

.titles__title {
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 170%;
}
.titles__subtitle {
  font-size: 12px;
  letter-spacing: 0.1px;
}

.middle-ban {
  color: #ffffff;
}
.middle-ban__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.middle-ban__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  background: #b7cc8a;
  height: 57px;
  min-width: 150px;
  border-radius: 30px;
  gap: 10px;
}
.middle-ban__button:hover {
  background: #c5dc93;
}
.middle-ban__title {
  font-size: 38px;
  font-weight: 400;
  max-width: 500px;
  line-height: 120%;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: #4f7907;
  margin: 0px 0px 0px 5px;
  font-size: 15px;
}
.recomendation__content {
  padding: 15px 20px 40px 20px;
  background: #fff;
  border-radius: 12px;
}
.recomendation__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.recomendation__top img {
  height: 30px;
}
.recomendation__boxes {
  display: flex;
  flex-wrap: nowrap;
  gap: 22px;
  margin: 15px 0px 0px 0px;
}

.top__left {
  display: flex;
  align-items: center;
}
.top__left-fire img {
  height: 27px;
  margin: 0px 0px 10px 0px;
}
.top__left-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px 0px 15px;
}
.top__right {
  color: #767676;
  cursor: pointer;
}

.boxes__box-1 {
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  height: 170px;
  flex: 1 1 33.33%;
  color: #000000;
  background: url("/img/main-block/recomendation-1.jpg") center/cover no-repeat;
  box-shadow: 0px 0px 7px 2px #8c8c8c;
}
.boxes__box-1:hover {
  box-shadow: 0px 0px 3px 2px #8c8c8c;
}
.boxes__box-2 {
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  height: 170px;
  flex: 1 1 33.33%;
  color: #000000;
  background: url("/img/main-block/recomendation-2.jpg") center/cover no-repeat;
  box-shadow: 0px 0px 7px 2px #8c8c8c;
}
.boxes__box-2:hover {
  box-shadow: 0px 0px 3px 2px #8c8c8c;
}
.boxes__box-3 {
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  height: 170px;
  color: #000000;
  flex: 1 1 33.33%;
  background: url("/img/main-block/recomendation-3.jpg") center/cover no-repeat;
  box-shadow: 0px 0px 7px 2px #8c8c8c;
}
.boxes__box-3:hover {
  box-shadow: 0px 0px 3px 2px #8c8c8c;
}

.box-1__heading {
  font-weight: 600;
  letter-spacing: 0.3px;
}
.box-1__subheading {
  color: #767676;
  font-weight: 500;
  font-size: 13px;
}

.box-2__heading {
  font-weight: 600;
  letter-spacing: 0.3px;
}
.box-2__subheading {
  color: #767676;
  font-weight: 500;
  font-size: 13px;
}

.box-3__heading {
  font-weight: 600;
  letter-spacing: 0.3px;
}
.box-3__subheading {
  color: #767676;
  font-weight: 500;
  font-size: 13px;
}

.tips__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 12px 0px;
}
.tips__left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.tips__hummers img {
  height: 20px;
  margin: 0px 0px 10px 0px;
}
.tips__heading {
  font-size: 20px;
  font-weight: 500;
}
.tips__right {
  color: #767676;
  cursor: pointer;
}
.tips__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.list__item {
  display: flex;
  align-items: center;
  color: #767676;
  line-height: 135%;
  font-size: 14px;
  gap: 18px;
}
.list__item img {
  height: 90px;
  width: 90px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__right-content {
  flex: 1 1 33.33%;
}