@import "_nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-family: "Onest", sans-serif;
  background: #f7f7f7;
  position: relative;
}
.wrapper {
  display: flex;
  height: 100%;
}

.sideBar {
  width: 140px;
  background: #fff;

  &__content {
    // position: fixed;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  &__logo {
    margin-top: 40px;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  &__exit {
    margin: 0px 0px 40px 0px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.07s linear 0s;
    }
  }
}
.buttons {
  &__section {
    height: 74px;
    width: 74px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: rgba(117, 223, 109, 0.22);
    }
    &:active {
      background: rgba(104, 147, 0, 1);
      svg {
        stroke: #fff;
      }
    }
  }
}
.buttons__section-active {
  background: rgba(104, 147, 0, 1);
  &:hover {
    background: rgba(104, 147, 0, 1);
  }
  svg {
    stroke: #fff;
  }
}

//=====================MAIN=========================================

.main {
  display: flex;
  padding: 33px 52px 33px 52px;
  width: 100%;
}

//=====================header=========================================
.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left {
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
  }

  &__right {
    display: flex;
    gap: 17px;
  }

  &__avatar {
    cursor: pointer;

    img {
      height: 42px;
      &:hover {
        transform: scale(1.1, 1.1);
        transition: all 0.07s linear 0s;
      }
    }
  }

  &__notifications {
    cursor: pointer;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.07s linear 0s;
    }
  }
}
